<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../css/global.css">
	<link rel="stylesheet" href="../css/geg.css">
	<script type="text/javascript" src="../bower_components/bootstrap/dist/css/bootstrap.css"></script>
</head>
<body>
	<div class="main w1000">
		<div class="up">
			<img src="../images/logo_register.png" alt="">
			<div class="clear"><a href="">我有账号</a></div>

		</div>
		<div class="down">
			<h3>注册账号</h3>
			<div class="title">
				账户信息
				</div>
				<div class="input-area">
				<div class="clear"><p ><span>*</span>用户名： </p><input type="text" name="" value="" placeholder="" ></div>
				<div class="clear"><p><span>*</span>密码：</p><input type="password" name="" value="" placeholder=""> </div>
				<div class="clear"><p><span>*</span>确认密码： </p><input type="password" name="" value="" placeholder=""></div>
				</div>
			<div class="title">
				基本信息<span>信息越完整，越有机会参与志愿者活动哦！ 您的个人信息我们承诺仅用于为您办理公益活动保险，并将尽最大努力保护您的个人隐私。</span>
			</div>
			<div class="clear"><p><span>*</span>真实姓名 </p><input type="text" name="" value="" placeholder=""></div>
			<div class="clear"><span>性别 </span><input type="radio" name="sex" value="" placeholder="">男<input type="radio" name="sex" value="" placeholder="">女</div>
			<div class="clear"><span>*</span>年龄:<input type="number" name="" value="" placeholder=""></div>
			<div class="clear"><span>*</span>籍贯:<input type="text" name="" value="" placeholder=""></div>
				</div>
		</div>
	</div>
</body>
</html>